= form_for @translation, :url => (@translation.new_record?) ? translations_new_path : translations_edit_path(@translation), :html => { :class => "tx-translation-form"} do |f|
  - if @translation.errors.any?
    %div#error_explanation
      %h3
        = pluralize(@translation.errors.count, "error")
        prohibit this translation being saved:

      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg

  %div
    = f.label :name
    = f.text_field :name

  %div
    = f.label :identifier
    %div.row.collapse
      %div.four.mobile-two.columns
        %span.prefix= h("https://translatex.in/request/#{current_user.identifier}/")
      %div.eight.mobile-two.columns
        = f.text_field :identifier

  %div
    = f.label :description
    = f.text_area :description, :size => "60x3"

  %fieldset
    %legend Security

    %div.row
      %div.six.columns
        %div
          %span
            = f.check_box :api_key_enabled
            Api key enabled

        %br

        %div
          = f.label :api_key
          = f.text_field :api_key
          %a.js-api-generator{ 'href' => '#' } Auto generate API key

      %div.six.columns
        %div
          %span
            = f.check_box :basic_auth_enabled
            Basic Authentication Enabled
        %br

        %div
          = f.label :basic_auth_username
          = f.text_field :basic_auth_username

        %div
          = f.label :basic_auth_password
          = f.text_field :basic_auth_password
  %div
    = f.label :xslt
    = f.text_area :xslt, :size => "60x15"

  %div
    %span
      = f.check_box :active
      Activate

  = f.submit "Save", :class => 'button'

  = link_to "Back", translations_path


= javascript_include_tag params[:controller]