%div.row
  %div.twelve.columns

    %h2 Translations

    %div.tran-create
      = link_to "Create new translation", new_translation_path

    - unless @translations.empty?

      = paginate @translations

      %ul.translations
        - @translations.each do |tran|
          %li.translation
            %p.tran-name
              = link_to tran.name, edit_translation_path(tran)
            %p.tran-description= tran.description
            %p.tran-active= tran.active
    - else
      %div.empty-list
        %p You do not currently have any transations.
